:root {
    --step--2: clamp(0.6944rem, 0.6513rem + 0.1919vw, 0.8rem);
    --step--1: clamp(0.8333rem, 0.7652rem + 0.3033vw, 1rem);
    --step-0: clamp(1rem, 0.8977rem + 0.4545vw, 1.15rem);
    --step-1: clamp(1.2rem, 1.0517rem + 0.6591vw, 1.5rem);
    --step-2: clamp(1.44rem, 1.2301rem + 0.933vw, 2.2rem);
    --step-3: clamp(1.728rem, 1.4362rem + 1.2971vw, 2.5rem);
    --step-4: clamp(2.2rem, 1.8345rem + 1.6vw, 3rem);

    --primary-color: #1C236F;
    --secondary-color: #ccd6f9;
    --tertiary-color: #8FA1DD;
    --background-color: #4E5CA3;
    --norwegian-label: #1350CB;
    --international-label: #672292;
    --white-color: #ffffff;
    --black-color: #1A191D;
    --role-color: #d7a8ff;
    --available-color: #088b64;
    --booked-color: #970d50;
    --border-color: rgba(255, 255, 255, 0.2);
    --tag-color: #550b91;
    --tag-text-color: #ceb8f2;
    --footer-color: #111118;

    --border-radius: 8px;
    --border-radius-img: 8px 8px 0 0;
    --border-radius-btn: 15px;
    --box-shadow: 7px 7px 10px var(--primary-color);
    --box-shadow-light: 7px 7px 10px var(--tertiary-color);
    --box-shadow-modal: 0px 0px 15px var(--primary-color);
    --navbar-shadow: 0 12px 30px rgba(0, 0, 0, 0.45);
    --navbar-bg-gradient: linear-gradient(
        90deg,
        rgba(28, 35, 111, 0.9),
        rgba(78, 92, 163, 0.85)
    );

    --title-font: 'anton', sans-serif;
    --text-font: 'articulat-cf', sans-serif;

    --mini-space: 0.25rem;
    --small-space: 0.5rem;
    --normal-space: 1rem;
    --medium-space: 1.5rem;
    --big-space: 2rem;
    --bigger-space: 3rem;
    --mega-space: 4rem;
}