:root {
    --primary-color: #1C236F;
    --secondary-color: #8FA1DD;
    --background-color: #4E5CA3;
    --norwegian-label: #1350CB;
    --international-label: #672292;
    --text-color: #ffffff;
    --black-color: #1A191D;
    --role-color: #C084F5;

    --border-radius: 8px;
    --border-radius-btn: 12px;
    --box-shadow: 7px 7px 10px var(--primary-color);

    --title-font: 'anton', sans-serif;
    --text-font: 'articulat-cf', sans-serif;

    --small-space: 0.5rem;
    --normal-space: 1rem;
    --medium-space: 2rem;
    --big-space: 3rem;
}