.button {
    font-weight: bold;
    padding-block: var(--small-space);
    padding-inline: var(--normal-space);
    border: none;
    border-radius: var(--border-radius-btn);
    font-size: var(--step--1);
    cursor: pointer;

    &--blue {
        background-color: var(--primary-color);
        color: var(--white-color);
        border: 1px solid var(--white-color);
    }

    &--white {
        background-color: var(--white-color);
        color: var(--primary-color);
    }
}

.info-btn {
    margin-block-start: var(--normal-space);
}