.eventCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    flex: 1 1 250px; /* vokser og krymper, minimum 250px */
    text-align: center;

    &__img {
        border-radius: var(--border-radius-img);
    }

    &__info {
        position: relative;
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); // this centers it
        z-index: 1; // make sure it's above the image
        line-height: 1.1;

        &--title {
            width: 14ch;
        }
    }

    &__description {
        padding: var(--normal-space);
        font-size: var(--step--1);
        width: 32ch;
        margin: 0 auto;
        color: var(--primary-color);
    }
    
    &__button {
        margin: 0 auto var(--normal-space);
    }
}