.eventCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    flex: 1 1 250px; /* vokser og krymper, minimum 250px */
    text-align: center;
    overflow: hidden;

    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    animation: cardFadeUp 0.45s both;

    &__img {
        border-radius: var(--border-radius-img);
    }

    &__info {
        position: relative;
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        z-index: 1; 
        line-height: 1.1;

        &--title {
            width: 14ch;
        }
    }

    &__description {
        padding: var(--normal-space);
        font-size: var(--step--1);
        width: 32ch;
        margin: 0 auto;
        color: var(--primary-color);
    }
    
    &__button {
        margin: 0 auto var(--normal-space);
    }
    &:hover {
        transform: translateY(-5px);
        box-shadow: 10px 20px 20px var(--primary-color);

        .eventCard__img {
            transform: scale(1.05);
        }
    }
}

.event-form {
    display: flex;
    flex-direction: column;
    padding: var(--normal-space);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);

    label {
        margin-block-start: var(--small-space);
        color: var(--primary-color);
        font-weight: 500;
    }
    input, button {
        margin-block: var(--small-space);
    }
    input {
        border-radius: var(--border-radius);
        border: none;
        padding: var(--normal-space);
    }
    button {
        margin-block: var(--small-space);
        align-self: end;
    }
    ::placeholder {
        color: var(--secondary-color);
    }
}

.event-details {
    display: flex;
    flex-wrap: wrap;
    gap: var(--medium-space);

    &__date:hover {
        color: var(--text-color);
        transform: translateX(3px);
        font-weight: 500;
    }
    &__icon {
        padding-inline: var(--small-space);
    }
}